<h1>Questions#answer</h1>
  <%= @question %>
  <%= @answer %>

  <%= link_to "ask another question", ask_path %>
<p>Find me in app/views/questions/answer.html.erb</p>

 <!-- erb html.erb is VIEWS in MVC in rails -->
